.container{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-around;
    align-items: stretch;
    text-align: center;
    margin: 10px;
  
    width: 350px;
    max-width: 100%;
  
    .pwd { cursor: pointer; }
  
    .btn {
      margin-top: 10px;
      min-height: 48px;
    }
  
    .form-field{
      display: block;
    }
  }
  
  .forgot {
    background-color: #0B885D;
    color: white;
    padding: 5px;
    cursor: pointer;
  }