.spinner-img {
    height: 20vh;
    width: 20vh;
    animation: loading-spinner-img 3s linear infinite;
  }
  
  
  @keyframes loading-spinner-img {
    0% {
        transform:  rotate(0deg) ;
      }
      100% {
        transform:  rotate(360deg) ;
      }
    }  