@use 'src/styles/custom-theme.scss' as custom;

.example-spacer {
  flex: 1 1 auto;
}

.panel-heading {
  width: 100%;
  height: 150px;
  background: url(/assets/images/embleme.png) no-repeat, url(/assets/images/banierre.jpg) no-repeat;
  background-size: 100px, cover;
  display: block;
  color: white;
  position: relative;
}

.panel-heading-home {
  width: 100%;
  height: 600px;
  background: url(/assets/images/embleme.png) no-repeat, url(/assets/images/banierre.jpg) no-repeat;
  background-size: 300px, cover;
  display: block;
  color: white;
  position: relative;
  background-color: red !important;
}

.title-bold {
  font-family: "ArimaMadurai";
  font-size: 60px;
}

.title,.title-home {
  padding-left: 5vw; 
  padding-right: 5vw;
  text-align: left;
  font-family: "ArimaMaduraiRegular";
  font-size: 55px;
  line-height: 1;
  width: 100%;
  max-width: 1000px;
}

.subtitle {
  margin-top: 15px;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 28px;
  font-weight: 600;
  background-color: var(--custom-primary-500);
  line-height: 1.75;
  text-align: left;
  margin-inline: 5vw;
  padding: 5px;
  color: white;
}

@media screen and (max-width: 600px) and (min-width:470px){
  .title, .title-home {
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
    color:black;
    padding-top: 1%;
  }

  .subtitle {
    font-size: 18px;
    margin-inline: 5vw;
  }

  .panel-heading-home {
    height: auto;
    background-size: 150px, cover;
  }

  .search-bar mat-form-field {
    flex: 1 1 auto;
    width: 50% !important;
    min-width: 0 !important;
  }

  ::ng-deep .mat-mdc-form-field-infix {
    min-width: 0 !important; 
    width: 50% !important;
  }

}

@media (max-width: 470px) {
  .search-bar {
    display: none;
  }

  .title, .title-home {
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
    color:black;
    padding-top: 3%;
  }

  .subtitle {
    font-size: 18px;
    margin-inline: 5vw;
    color: black;
  }
}

.white-icon {
  color: white;
}

.panel-footer {
  padding-top: 1px;
  background-color: var(--custom-primary-500);
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  color: white;
}

.contact a {
  color: white;
}

.text-center {
  text-align: center !important;
}



mat-toolbar {
  color: white;
  background-color: var(--custom-primary-500) !important;
  display: flex;
  align-items: center;
}

mat-toolbar a {
  color: white;
  padding: 20px;
  text-decoration: none;
}

.credit {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-weight: lighter;
  font-size: smaller;
}

.search-bar {
  display: flex;
  align-items: center;
  margin: 0 20px;
  justify-content: center;
  width: 100%;
  padding: 0 5vw
}

.search-bar mat-form-field {
  flex: 1 1 auto;
  width: 100%;
  min-width: 0 !important;
}

input.mat-mdc-input-element {
  min-width: 0 !important; 
}

.search-bar .mat-form-field-wrapper {
  padding-top: 0;
  padding-bottom: 0;
}

.user {
  cursor: pointer;
}

.loupe{
  margin-left:5%;
  font-size: larger;
  background-color: var(--custom-primary-500);
  border:none;
  color:white;
  ;
}

.burger{
  background-color: var(--custom-primary-500);
  border:none;
  color:white;
  font-size: larger;
}
