 <!-- Barre de recherche -->
 <div>
    <mat-form-field>
      <mat-label>Recherche</mat-label>
      <input type="text" matInput [formControl]="searchControl" [matAutocomplete]="auto" [placeholder]=placeholder>
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
        (optionSelected)="onSearchItemSelected($event)">
        <mat-option *ngFor="let item of filteredSearchItems | async" [value]="item">
          {{ item.nom }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
</div>
